{% extends 'base.html' %} 

{% block title %}Cipeninsular{% endblock %} 
{% block content %}

  <!-- servicios -->
  <section id="services">
    <h3>NUESTROS SERVICIOS</h3>
    <h2>¿Qué podemos ofrecer?</h2>
    <div class="service-items">
      <!--Arquitectura en general-->
      {% for servicio in servicios %}

      <article class="wow animate__animated animate__fadeInDown service-item">
        <div class="icon-title">
          <figure>
            <img src="{{ servicio.imagen.url }}" alt="{{ servicio.titulo }}" />
          </figure>
          <h2 class="title-service">{{ servicio.titulo }}</h2>
        </div>

        <p>{{ servicio.descripcion }}</p>
        <a href="" class="view-more"
          >Ver los proyectos realizados
          <i class="arrow-service fa-solid fa-arrow-right"></i
        ></a>
      </article>

      {% endfor %}
    </div>
    <a
      href=""
      class="wow animate__animated animate__fadeIn animate__delay-1s view-all"
      >Ver todos nuestros servicios</a
    >
  </section>

  <!-- parallax -->
  <section id="parallax">
    <div class="info-parallax">
      <h1>Transformamos Espacios, Creamos Futuro</h1>
      <p>
        En Cipeninsular, diseñamos tu visión con innovación y sostenibilidad,
        ofreciendo soluciones arquitectónicas únicas que hacen realidad tus
        sueños. Contáctanos hoy y construyamos juntos el mañana.
      </p>
      <a class="view-more" href="">Haz realidad tu proyecto</a>
    </div>
    <div class="transparencia"></div>
  </section>

  <!--galeria-->
  <section id="gallery">
    <div class="title-gallery">
      <h3>NUESTROS PROYECTOS</h3>
      <h2>Galería de proyectos</h2>
    </div>

    <div class="project-gallery">
      {% for proyecto in proyectos %}
      <a
        class="wow animate__animated animate__fadeIn"
        href="{{ proyecto.caratula.url }}"
        data-fancybox="project-{{ proyecto.id }}"
        data-caption="{{ proyecto.nombre }}"
      >
        <figure>
          <img src="{{ proyecto.caratula.url }}" alt="{{ proyecto.nombre }}" />
          <figcaption>{{ proyecto.nombre }}</figcaption>
        </figure>
      </a>
      {% for imagen in proyecto.images.all %}

      <!--Adicionales-->
      <a
        href="{{ imagen.imagen.url }}"
        data-fancybox="project-{{ proyecto.id }}"
        data-caption="{{ imagen.caption|default:proyecto.nombre }}"
        style="display: none"
      >
        <img
          src="{{ imagen.imagen.url }}"
          alt="{{ imagen.caption|default:proyecto.nombre }}"
        />
      </a>
      {% endfor %} {% endfor %}
    </div>
    <a
      href=""
      class="wow animate__animated animate__fadeIn animate__delay-1s view-all"
      >Ver todos nuestros proyectos</a
    >
  </section>

  <section class="contenedor-principal" id="carousel">
    <h1>EQUIPO CIPENINSULAR</h1>
    <hr class="underline" />

    <div class="contenedor-secundario" id="slide-container">
      <!-- Primer artículo del carrusel -->
      <article class="slide" data-slideIndex="0">
        <figure class="imgentest">
          <img src="resources/team/OIP.jpg" alt="" />
          <i class="fa-solid fa-quote-left icono-encima"></i>
        </figure>
        <h3>John Smith</h3>
        <p class="position" style="color: #3574e0">IT Manager</p>
      </article>

      <!-- Segundo artículo del carrusel -->
      <article class="slide" data-slideIndex="1">
        <figure class="imgentest">
          <img src="resources/team/OIP.jpg" alt="" />
          <i class="fa-solid fa-quote-left icono-encima"></i>
        </figure>
        <h3>Bread Mc</h3>
        <p class="position" style="color: #3574e0">Founder</p>
      </article>

      <!-- Tercer artículo del carrusel -->
      <article class="slide" data-slideIndex="2">
        <figure class="imgentest">
          <img src="resources/team/OIP.jpg" alt="" />
          <i class="fa-solid fa-quote-left icono-encima"></i>
        </figure>
        <h3>Maria Fread</h3>
        <p class="position" style="color: #3574e0">Web Developer</p>
      </article>

      <article class="slide" data-slideIndex="3">
        <figure class="imgentest">
          <img src="resources/team/OIP.jpg" alt="" />
          <i class="fa-solid fa-quote-left icono-encima"></i>
        </figure>
        <h3>Bread Mc</h3>
        <p class="position" style="color: #3574e0">Founder</p>
      </article>
      <article class="slide" data-slideIndex="4">
        <figure class="imgentest">
          <img src="resources/team/OIP.jpg" alt="" />
          <i class="fa-solid fa-quote-left icono-encima"></i>
        </figure>
        <h3>Bread Mc</h3>
        <p class="position" style="color: #3574e0">Founder</p>
      </article>
    </div>

    <!-- Contenedor de botones -->
    <div class="slide-buttons">
      <a id="back-button" class="arrow back">
        <i class="fa-solid fa-chevron-left"></i>
      </a>
      <a id="forward-button" class="arrow forward">
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </div>
  </section>

  <!--partners-->
  <section id="partners">
    <div class="section-title">
      <h2>Nuestra Experiencia</h2>
      <p>
        Conoce algunos de nuestros logros y cifras que respaldan nuestra
        trayectoria
      </p>
    </div>
    <div class="articles">
      <!--Clientes-->
      <article>
        <div class="numbers">
          <h3 class="counter" data-target="180">[ 0 ]</h3>
          <span>+</span>
        </div>
        <p>CLIENTES ACTUALES</p>
      </article>

      <!--Años-->
      <article>
        <div class="numbers">
          <h3 class="counter" data-target="10">[ 0 ]</h3>
          <span>+</span>
        </div>
        <p>AÑOS DE EXPERIENCIA</p>
      </article>

      <!--Empleos-->
      <article>
        <div class="numbers">
          <h3 class="counter" data-target="530">[ 0 ]</h3>
          <span>+</span>
        </div>
        <p>EMPLEOS GENERADOS</p>
      </article>
      <!--Oficinas-->
      <article>
        <div class="numbers">
          <h3 class="counter" data-target="5">[ 0 ]</h3>
          <span>+</span>
        </div>
        <p>OFICINAS</p>
      </article>
    </div>
  </section>

  <!-- formulario de contactos -->
  <button class="contact">
    <i class="fa-solid fa-envelope"></i>
    <span class="contact-text">Contáctanos</span>
  </button>

  <!-- Modal -->
  <div id="modal" class="overlay">
    <div class="dialog">
      <span class="close"><i class="fa-solid fa-xmark"></i></span>
      <h2>Contáctanos</h2>
      <p>
        Si tiene alguna pregunta sobre nuestros servicios, rellene el siguiente
        formulario de contacto.
      </p>
      <form class="contact-form">
        <input type="text" name="name" placeholder="Nombre *" required />
        <input type="email" name="email" placeholder="E-mail *" required />
        <textarea name="message" placeholder="Mensaje *" required></textarea>
        <button type="submit" class="submit-btn">ENVIAR</button>
      </form>
    </div>
  </div>
{% endblock %}
