{% extends 'base.html' %}
{% load static %}

{% block header_class %}servicios{% endblock %}
{% block title %}Cipeninsular | Servicios{% endblock %}

<!--BLOQUE DE SLIDES-->
{% block slides %}
  {% for slide in slides %}
  <li><img src="{{ slide.imagen.url }}" alt="" /></li>
  {% endfor %}
{% endblock %}

<!--BLOQUE PARA EL HERO-->
{% block hero %}
<div class="hero-content">
    <h1>Brindamos servicios profesionales y de alta calidad</h1>
    <p>¿Necesitas ayuda con tus diseños? Contamos con un equipo altamente especializado para ofrecerte soluciones innovadoras</p>
    <div class="buttons">
        <a href="{% url 'servicios' %}" class="button-discover">Servicios detallados</a>
        <a href="#" class="button-contact">Contáctanos</a>
    </div>
</div>
{% endblock %}

<!--BLOQUE CONTENIDO PRINCIPAL-->
{% block content %}
<section id="services">
    <div class="services-title">
        <p><i class="fa-solid fa-screwdriver-wrench"></i>  Todos nuestros servicios</p>
        <h2>Nuestros servicios son garantía de calidad</h2>
        <p>Ofrecemos una amplia gama de servicios de arquitectura, diseñados tanto para clientes residenciales como comerciales. Aunque muchos desafíos pueden parecer solucionables de forma independiente, la mayoría de los problemas arquitectónicos requieren la experiencia de un profesional</p>
    </div>
    
    <div class="service-articles">
        {% for servicio in servicios %}

        <article>
            <figure class="imagen">
                <img src="{{ servicio.imagen.url }}" alt="{{ servicio.titulo }}">
            </figure>
            
            <div class="info">
                <figure class="icon">
                    <img src="{{ servicio.icono.url }}" alt="">
                </figure>
                <h3>{{ servicio.titulo }}</h3>
                <p>{{ servicio.descripcion }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>

<!-- nuestros proyectos -->

<section id="services-projects">
    <div class="projects-title">
        <h2>Nuestros últimos proyectos</h2>
        <p>Proyectos innovadores y funcionales, diseñados para satisfacer las necesidades de nuestros clientes, mejorando tanto espacios residenciales como comerciales con un enfoque en estética y sostenibilidad</p>
    </div>

    <div class="projects-articles">
        {% for proyecto_reciente in proyectos_recientes %}
        <article>
            <figure>
                <img src="{{ proyecto_reciente.caratula.url }}" alt="{{ proyecto_reciente.nombre}}">
            </figure>
            <div class="project-overlay">
                <h3>{{ proyecto_reciente.nombre }}</h3>
                <button>Ver proyecto</button>
            </div>
        </article>
        {% endfor %}
    </div>
    
</section>

<!-- testimonios de clientes -->
<section id="services-testimonials">
    <div class="testimonials-title">
        <h2>Que dicen nuestros clientes</h2>
        <p>Descubre lo que nuestros clientes tienen que decir sobre su experiencia con CIPeninsular. Sus historias reflejan nuestro compromiso con la calidad, el diseño innovador y la atención personalizada en cada proyecto.</p>    
    </div>
   
    <div class="testimonials-articles">
        <!-- Testimonial 1 -->
        <article>
            <div class="testimonial">
                <i class="fa-solid fa-quote-left"></i>
                <p>¡Fue una experiencia increíble! El equipo fue profesional, eficiente y solucionó mis dudas en poco tiempo.</p>
            </div>
            
            <div class="testimonial-client">
                <figure>
                    <img src="client1.jpg" alt="Cliente">
                </figure>
                <div class="client-info">
                    <h3>Rosa María</h3>
                    <p>Cliente frecuente</p>
                    <div class="client-stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                </div>
            </div>
        </article>

        <article>
            <div class="testimonial">
                <i class="fa-solid fa-quote-left"></i>
                <p>El equipo de Cipeninsular transformó nuestro proyecto arquitectónico de manera increíble. La atención al detalle y la eficiencia en el proceso fueron excepcionales.</p>
            </div>
        
            <div class="testimonial-client">
                <figure>
                    <img src="client1.jpg" alt="Cliente">
                </figure>
                <div class="client-info">
                    <h3>Juan Pérez</h3>
                    <p>Arquitecto Independiente</p>
                    <div class="client-stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                </div>
            </div>
        </article>
        
        <article>
            <div class="testimonial">
                <i class="fa-solid fa-quote-left"></i>
                <p>La colaboración con Cipeninsular fue clave para llevar a cabo nuestra remodelación. Su enfoque profesional y compromiso con los plazos fue fundamental para cumplir con nuestras expectativas.</p>
            </div>
        
            <div class="testimonial-client">
                <figure>
                    <img src="client2.jpg" alt="Cliente">
                </figure>
                <div class="client-info">
                    <h3>María López</h3>
                    <p>Dueña de empresa de diseño de interiores</p>
                    <div class="client-stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                </div>
            </div>
        </article>
    </div>
</section>

{% endblock %}