

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    /* COLORES AZULES */
    --blue-primary: #238EBF;
    --blue-secondary: #39B3DD;
    --blue-aditional: #2183A6;

    /* COLORES AMARILLOS */
    --yellow-primary: #FFD450;
    --yellow-secondary: #F6C336;
    --yellow-aditional: rgba(218, 165, 32, 0.9);
}

html {
  scroll-behavior: smooth;
}

.rslides-height{
  height: 650px;
}

.rslides-servicios-height{
  height: 450px;
}

.rslides-chukum-height{
  height: 0px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;    
  padding: 0;
  margin: auto;
}

.rslides li {
  backface-visibility: hidden;
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: 100%;
  float: left;
  width: 100%;
  border: 0;
  object-fit: cover;
  position: relative;
}

.slide-fotos{
  position: relative;
  width: 100%;
  margin: auto;
}

.header-hero {
  position: relative;
  display: flex;
}

.texture-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Negro con 40% de opacidad */
  opacity: 1; /* Mantén la opacidad del contenedor */
  pointer-events: none; /* Evita interacciones */
  z-index: 2; /* Asegura que esté sobre otros elementos */
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent; /* Color inicial */
  transition: background-color 0.5s ease; /* Transición suave */
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 20;

  .nav-movil {
    .logos {
      display: flex;
      align-items: center;
      gap: 10px;

      .logo-solo {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
        }
      }

      .logo-tipografia {
        width: 150px;

        img {
            width: 100%;
        }
      }
    }
    .cart-menu-movil {
      display: none;
    }
  }

  #ul-menu {
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;

    .menu-item {
      position: relative;
      cursor: pointer;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        font-size: .8rem;
        font-weight: 600;
        color: black;

        .arrow-down {
            color: black;
            font-size: 10px;
        }
      }
    }

    .submenu {
      z-index: 50;
      display: block;
      opacity: 0;
      visibility: hidden; 
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #2f2f2f;
      list-style: none;
      transition: opacity .6s ease, visibility 0s 1s;
      width: 150px;        
    }

    .submenu a {
        color: whitesmoke;
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        text-shadow: none; /* Sombra blanca */
    }

    .submenu a:hover {
      background-color: var(--blue-primary);
    }

    /* Mostrar el submenú cuando se clickea el ítem del menú */
    .menu-item.active .submenu {
        opacity: 1; /* Lo hace visible */
        visibility: visible; /* Cambia la visibilidad */
        transition: opacity .5s ease, visibility 0s; /* Transición suave para la opacidad */
    }

    .menu-item:hover > a {
        color: rgb(255, 255, 255);       
    }
  }

  .cart {
    color: black;
    font-size: 1rem;
    cursor: pointer;
    
  }
}

#header.chukum, #header.servicios, #header.servicios_detallados {
  background-color: var(--yellow-aditional);
}

#header.scrolled {
    background-color: var(--yellow-aditional);
    color: white; /* Cambia el color del texto si es necesario */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
}

/* Estilos para la sección hero */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Asegura que ocupe toda la altura del slide */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; /* Asegura que esté sobre los slides pero debajo del header */
  color: white;

  h1 {
      color: black;
  }
}

/* services */
#our-services {
  background-color: rgba(0, 0, 0, 0.1); /* Color negro con opacidad */
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    text-align: center;
  }
  
  h3{
    font-size: .9rem;
    color: #8a8484;
  }

  .service-items {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    .service-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      padding: 20px;
      gap: 15px;
      width: 300px;
      text-align: center;
      transition: all 0.5s ease-in-out;
      border-radius: 2px;

      .icon-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        figure {
          width: 30px;
          height: 30px;
          
          img {
            width: 100%;
            height: 100%;
          }
        }
        
        .title-service {
          font-size: 1.2rem;
          font-weight: 600;
          color: black;
        }
      }
      
    }

    p {
      font-size: .9rem;
    }

    .view-more {
      display: none;
      text-decoration: none;
      font-size: .9rem;
      padding: 5px 10px;
      color: black;
      margin-top: auto;

      .arrow-service {
        display: none;
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        transition: transform 0.2s ease-in-out, background-color 0.3s ease;
      }
    }
  }

    .service-item:hover {
      background-color: var(--yellow-secondary);
      transition: background-color 0.3s ease, transform 0.1s ease;

      .view-more {
        display: block;
      }
      
      .view-more:hover {
        transform: scale(1.01);
        text-decoration: underline;

        .arrow {
          display: block;
        }
      }
    }
}

.view-all {
  text-decoration: none;
  padding: 7px 12px;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}

.view-all:hover {
  color: rgb(255, 255, 255);
  background-color: var(--yellow-secondary);
  transition: background-color 0.3s ease, transform 0.1s ease;
}

/*parallax*/
#parallax {
  background-image: url('../images/img-parallax.png');
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el contenedor */
  width: 100%;
  background-attachment: fixed ;
  min-height: 250px;
  position: relative;

  .info-parallax {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 3;
    gap: 15px;

    h1, p {
      color: whitesmoke;
      text-align: left;
    }

    .view-more {
      text-decoration: none;
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      padding: 10px 15px;
    }

    .view-more:hover {
      background-color: rgb(255, 255, 255);
      color: black;
      border: 1px rgb(0, 0, 0) solid;
      font-weight: 600;
      transition: background-color 0.3s ease, transform 0.1s ease;
    }
  }
  
  .transparencia {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6); /* Capa negra semitransparente */
  }
}

/* Galeria */
#gallery {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: rgba(179, 179, 179, 0.1); /* Color negro con opacidad */

  .title-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: hsl(0, 0%, 20%);
      text-align: center;
    }
    
    h3{
      font-size: .9rem;
      color: #8a8484;
    }
  }

  .project-gallery {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
    figure {
      width: 250px;
      height: 250px;
      position: relative;
      display: inline-block;
      overflow: hidden;
  
      img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          transition: transform 0.3s ease; /* Agrega un zoom ligero en hover */
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;
        font-size: 14px;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
    }

    figure:hover figcaption {
      opacity: 1;
      transform: translateY(0);
    }
    figure:hover img {
      transform: scale(1.1);
    }
  }
}

/* team */
#company {
  display: flex;
  align-items: start;
  padding: 2rem;
  background-color: rgba(179, 179, 179, 0.1); /* Color negro con opacidad */

  h2 {
    font-size: 1.3rem;
  }
  .etiquetas {
    font-size: .8rem;
  }

  .values{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;

    .progress-bars {
      padding: 20px 10px;
      .progress {
        width: 90%;
        display: flex;
        align-items: center;
        gap: 20px;
  
        .progress-bar {
          width: 100%;
          background-color: #f0f0f0;
          border-radius: 20px;
          height: 3px;
          overflow: hidden;
  
          .progress-fill {
            height: 100%;
            background: linear-gradient(to right, #8a8a8a, #000000);
            border-radius: 20px;
            width: 0; /* Empieza en 0 */
            transition: width 2s ease-in-out; /* Animación suave */
          }
        }
      }
    }
  }

  .team {
    width: 40%;

    .splide {
      display: flex;
      flex-direction: column;

      .splide__slide {
        /*Contenedor de todo*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 170px;
    
        figure {
          width: 200px;
          height: 200px;
          margin: 0 auto 10px;
          overflow: hidden;
          border-radius: 50%;
    
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
    
          }
        }
      }
  
      .splide__arrows {
        margin: auto;
        padding: 15px 0 0 0;
        display: flex;
        gap: 10px;
  
        .splide__arrow {
          padding: 5px 10px;
          background-color: var(--yellow-secondary);
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
}

/* Colaboradores */
#partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);

  .section-title {

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      color: #333;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: #666;
    }
  }

  .articles {
    display: flex;
    gap: 10px;

    article {
      background-color: white;
      border-radius: 10px;
      padding: 5px 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease;
  
      .numbers {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 5px;
  
        h3 {
          font-size: .9rem;
          font-weight: 700;
          color: #333;
          margin: 0;
        }
  
        span {
          font-size: .9rem;
          color: #ff6600;
        }
      }
      
      p {
        font-size: .7rem;
        font-weight: 600;
        color: #555;
      }
    }
  
    article:hover {
      transform: translateY(-10px);
    }
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;

  .experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .numbers {
        display: flex;
        gap: 2px;

        h3 {
          font-size: 1.5rem;
          font-weight: 400;
          color: gray;
        }
      }

      p{
        font-weight: 600;
      }
    }
  }
}

/* Estilos para el botón fijo de contacto */
.contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #238EBF;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.contact:hover {
  background-color: #FFD450;
  transform: scale(1.05);
}

/* Modal */
.overlay {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .dialog {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 8px;
    width: 40vw;
    text-align: left;
    max-height: calc(100vh - 40px); /* 100% de la altura de la ventana menos un margen */
  
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
      color: #333;
    }
  
    p {
      margin-bottom: 20px;
      color: #555;
    }
  
    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    
      input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }
    
      textarea {
        resize: vertical;
        height: 80px;
        max-height: 200px;
      }
    
      .submit-btn {
        background-color: #39B3DD;
        color: white;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.1s ease;
      }
    
      .submit-btn:hover {
        background-color: #F6C336;
      }
    }
  
    .close {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 20px;
      color: #333;
      cursor: pointer;
    }
  
    .close:hover {
      color: #ff0800;
    }
  }
}

.overlay.show {
  display: block;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: var(--yellow-aditional);

  .main-footer {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    h3 {
      color: whitesmoke;
    }
    p, a{
      font-size: .8rem;
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: rgb(228, 228, 228);
    }

    .about-info {
      display: flex;
      flex-direction: column;
      width: 250px;
      align-items: center;

      figure {
        width: 80px;
        height: 80px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .contact-info {
      display: flex;
      gap: 5px;
      flex-direction: column;

      .contact-item {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      
      .logos-contact {
        display: flex;
        gap: 20px;
        align-self: center; /* Centra únicamente esta sección horizontalmente */

        a{
          .logo {
            font-size: 1.5rem;
            color: black;
          }

          .logo:hover {
            color: rgb(255, 255, 255);
          }
        }
        
      }
    }

    .ubication-info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .contact-item {
        align-items: center;
        display: flex;
        gap: 5px;
      }
    }

    .help-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .line {
    height: 1px;            /* Altura de la línea */
    background-color: #000000; /* Color de la línea */
    width: 80%;             /* Ancho de la línea */
    margin: 0 auto;         /* Centrar */
  }

  .copy {
    font-size: .8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    margin: auto;

    span {
      font-weight: 600;
    }
  }
}
  

/* VIEW CHUKUM*/
#chukum {
  display: flex;
  margin: 50px 0 0 0;

  .chukum-banner {
    width: 50%;
    figure {
      width: 100%;
      height: 700px;
      overflow: hidden; /* Asegura que el contenido sobrante no se vea */


      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* La imagen se recorta y cubre el contenedor */

      }
    }
  }

  .chukum-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;  
    gap: 20px;
    padding: 30px;

    .chukum-title {
      h2 {
        font-size: 2rem;
        font-weight: bold;
        color: hsl(0, 0%, 20%);
      }
      
      h3{
        font-size: .9rem;
        color: #8a8484;
      }
    }
    

    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .links-chukum {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    a{
      padding: 20px 25px;
      font-weight: 600;
      background-color: #F4F6FF;
      border-radius: 5px;
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: black;
      font-size: 1rem;

      i {
        align-self: flex-end;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;  /* Animación suave */
        margin-left: 8px;  /* Espacio entre el texto y la flecha */
        transform: translateX(-10px); /* La flecha comienza desplazada */
      }

      
    }

        /* Al hacer hover sobre el enlace, se añade la animación a la flecha */
    a:hover 
    {
      background-color: var(--yellow-primary);

      i {
        opacity: 1;
        transform: translateX(0); /* La flecha se desplaza hacia su posición */
      }

    }
  }
}

#shop {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background-color: #f9f9f9; /* Fondo sutil para el área de productos */

  .title-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem; /* Espacio debajo del título */

    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: hsl(0, 0%, 20%);
      text-align: center;
    }
    
    h3{
      font-size: .9rem;
      color: #8a8484;
    }
  }

  .shop-space {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
    .product {
      width: 250px;

      figure {
        width: 100%;
        height: 250px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        border-radius: 5px; /* Bordes redondeados en cada producto */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          border-radius: 8px;
          transition: transform 0.3s ease; /* Agrega un zoom ligero en hover */
        }
  
        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 10px;
          background: rgba(0, 0, 0, 0.7);
          color: #fff;
          text-align: center;
          font-size: 14px;
          opacity: 0;
          transform: translateY(100%);
          transition: opacity 0.3s ease, transform 0.3s ease;
        }
      }
  
      figure:hover {
        transform: scale(1.05); /* Zoom leve al hacer hover */
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); /* Aumento de sombra al hacer hover */
      }
  
      figure:hover figcaption {
        opacity: 1;
        transform: translateY(0);
      }
      figure:hover img {
        transform: scale(1.1);
      }
  
          /* Estilo adicional para la información del producto */
      .product-info {
        width: 100%;
        padding: 10px;
        background-color: #fff;
        margin-top: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        p {
          font-size: 14px;
          color: #333;
          margin: 5px 0;
        }
  
        strong {
          color: #444;
          font-weight: 600;
        }
      }
    }
    
    /* Agregar hover en la información del producto */
    .product-info:hover {
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
      transform: translateY(-5px);
    }
  }
}

#why-chukum {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);


  .chukum-benefits {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    gap: 20px;

    .benefit {
      text-align: center;
      max-width: 250px;
      h3 {
        font-size: .9rem;
      }
  
      p {
        font-size: .8rem;
      }
    }
    
  }
}

#carousel {
  width: 100%;
  margin: auto;
  padding: 0px;
  gap: 0;

  .slide {
    padding: 20px 0;

    align-items: center;
    
    figure {
      width: 100%;
      height: 300px;
      display: inline-block;
      overflow: hidden;
      position: relative;
  
      img{
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease; /* Agrega un zoom ligero en hover */
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;
        font-size: 14px;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
    }

    figure:hover figcaption {
      opacity: 1;
      transform: translateY(0);
    }
    figure:hover img {
      transform: scale(1.1);
    }
  }

  .arrows-services{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Evitar que el contenedor interfiera con el hover */

    .arrow {
      border: none;
      font-size: 3rem;
      color: white;
      pointer-events: auto; /* Hacer clickeables las flechas */
    }

    .arrow-left {
      left: 10px;
    }
    .arrow-right
    {
      right: 10px;
    }
  }
}


/* VENTANA SERVICIOS */
#detailed_services {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin: 10px;

  /* Barra lateral */
  .sidebar {
    background-color: #fff;
    padding: 20px;
    width: 25%;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 15px;
    }

        /* Menú */
    .menu-services {
      list-style: none;
      padding: 0;

      .item-service {
        margin-bottom: 10px;

        p {
          display: block;
          padding: 10px;
          background-color: #f4f4f4;
          cursor: pointer;
          border: 1px solid #ddd;
        }

        p:hover {
          background-color: #007bff;
          color: white;
        }

        .item-subservice {
          list-style: none;
          padding: 0;
          margin: 0;
          display: none; /* Inicialmente oculto */
          transition: display 0.3s ease; /* Transición suave para abrir/cerrar el submenú */

          li {
            padding: 10px;
            padding-left: 20px;
            background-color: #e9ecef;
            border-left: 3px solid #007bff;
            border-bottom: 1px solid #ddd;

            a {
              font-size: .9rem;
              text-decoration: none;
              color: black;
            }
          }
          li:hover {
            background-color: #d6e0f0;
          }
        }
        .item-subservice.visible {
          display: block; /* Cuando tiene la clase visible, se muestra */
        }
      }
    }
  }

  /* Contenido principal */
  .main-content {
    padding: 20px;
    background-color: #fff;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-size: 2rem;
      }
  
      p {
        font-size: 1rem;
        line-height: 1.6;
      }
    }
    
    .facts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
  
      /* Sección de características */
      .features {
        display: flex;
        flex-direction: column;
        flex: 1 1 calc(50% - 20px); /* Hace que cada .features ocupe el 50% del ancho del contenedor con un espacio entre ellos */
        background-color:var(--yellow-secondary);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 20px;
        transition: transform 0.3s ease;
        margin-bottom: 10px; /* Asegura que los elementos tengan espacio vertical */
        border-radius: 5px;
        gap: 10px;
  
        .icons{
          font-size: 30px;
          color: var(--blue-primary);
        }
        
        h3{
          color: white;
        }
        p {
          font-size: 1rem;
        }
  
      }
      .features:hover {
        transform: translateY(-10px);
      }
    }

    .our-job {
      display: flex;
      gap: 20px;

      .demo {
        width: 50%;
      }

      figure {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}


.hero-servicios {
  .hero-content {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta el contenido para que se centre exactamente */
    width: 80%;
    text-align: center; /* Alinea el texto al centro */

    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-size: 2.5rem;
      color: white;
    }

    p {
      font-size: 1.2rem;
      color: white;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;

      a {
        margin-top: 20px;
        text-decoration: none;
        padding: 10px 15px;
        color: black;
        font-weight: 400;
        font-size: 1rem;
        border-radius: 5px;
      }

      .button-discover, .button-contact {
        background-color: whitesmoke;
      }

      .button-contact:hover, .button-discover:hover {
        background-color: var(--yellow-secondary);
      }
    }
  }
}

/* VISTA SERVICIOS GENERALES */
#services {
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  gap: 30px;

  .services-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    p {
      font-size: 1rem;
      color: #555;
    }
  
    h2 {
      font-size: 2rem;
    }
  }
  
  .service-articles {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
    align-items: stretch;

    article {
      flex: 0 0 calc(50% - 20px); /* Ocupa el 50% del ancho menos el espacio del gap */

      background-color: white;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 5px;
        h3 {
          font-size: 1.5rem;
        }
  
        p {
          font-size: 1rem;
          color: #666;
        }

        .icon {
          width: 10%;
  
          img {
            width: 100%;
          }
        }
      }
      

      .imagen {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}

/* nuestros proyectos *servicios generales* */
#services-projects {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;


  .projects-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
    h2 {
      font-size: 2rem;
    }
    
    p {
      font-size: 1rem;
      color: #555;
    }
  }
  

  .projects-articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    align-items: stretch;

    article {
      position: relative;
      flex: 0 0 calc(25% - 5px); /* Ocupa el 50% del ancho menos el espacio del gap */
      overflow: hidden;
      
      figure {
        height: 250px;
        img {
          width: 100%;
          height: 100%;
          display: block;
          transition: transform 0.3s ease;
        }
      }
    
      .project-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 123, 255, 0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }

        button {
          padding: 0.5rem 1rem;
          font-size: 1rem;
          color: #007bff;
          background-color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        button:hover {
          background-color: #f8f9fa;
        }
      }
    }

    article:hover {
      img {
        transform: scale(1.1);
      }

      .project-overlay {
        opacity: 1;
      }
    }

  }
}

#services-testimonials {
  background-color: var(--blue-aditional);
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .testimonials-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 90%;
    
    h2 {
      font-size: 2rem;
      color: white;
    }
    
    p {
      font-size: 1rem;
      color: white;
    }
  }

  .testimonials-articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    align-items: stretch;
    justify-content: center; /* Alinea los artículos horizontalmente al centro */

    article {
      flex: 0 0 calc(33.33% - 40px); /* Ocupa el 50% del ancho menos el espacio del gap */
      background-color: white;
      color: #333;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-between;

      .testimonial {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        i {
          font-size: 2rem;
          color: #007bff;
        }
  
        p {
          font-size: 0.9rem;
          line-height: 1.6;
          color: #555;
        }
      }
      
      .testimonial-client {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        figure {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid #007bff;

          img {
            width: 100%;
            height: auto;
          }
        }

        .client-info {
          text-align: left;

          h3 {
            margin: 0;
            font-weight: bold;
          }

          p {
            margin: 0;
            color: #777;
          }

          .client-stars {
            color: #f4c150;
          }
        }
      }
    }
  }
}



/* APARTADO CONTACTANOS */

/* Animaciones de Entrada */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.cu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  animation: fadeIn 1s ease-in-out;
}
.cu-left-section {
  background: #f4f4f4;
  padding: 20px;
  flex: 1;
  animation: slideInLeft 1s ease-out;
}
.cu-right-section {
  background: #fff;
  padding: 20px;
  flex: 1;
  animation: slideInRight 1s ease-out;
}
.cu-container h2 {
  color: #ff5722;
  margin-bottom: 15px;
  animation: zoomIn 0.8s ease-in-out;
}
.cu-container p {
  font-size: 14px;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-in-out;
}
.cu-container form {
  display: flex;
  flex-direction: column;
  animation: zoomIn 0.8s ease-in-out;
}
.cu-container form input,
.cu-container form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.cu-container form input:focus,
.cu-container form textarea:focus {
  box-shadow: 0 0 10px rgba(255, 87, 34, 0.5);
  transform: scale(1.02);
}
.cu-container form button {
  background: #ff5722;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.cu-container form button:hover {
  background: #e64a19;
  transform: scale(1.1);
}

/* Redes Sociales */
.cu-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
  padding: 20px;
  background: linear-gradient(45deg, #ff5722, #ff9800);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}
.cu-social h3 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  animation: fadeIn 1.2s ease-in-out;
}
.cu-social i {
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.cu-social i:hover {
  transform: scale(1.3) rotate(10deg);
}
.cu-social .fa-facebook:hover {
  color: #3b5998;
}
.cu-social .fa-instagram:hover {
  color: #e1306c;
}
.cu-social .fa-youtube:hover {
  color: #ff0000;
}
/* FIN DEL APARTADO CONTACTANOS */